<%inherit file="template.html"/>
<div class="menu">
    <ul>
        <li class="pageslinks"><a href="/">Accueil</a></li>
        <li class="pageslinks"><a href="/adding-driving-school">Ajouter Votre Auto-École</a></li>
        <li class="pageslinks"><a href="/login">S'identifier</a></li>
        ${specific_links}
    </ul>
</div>
<div class="content-field">
    ${drivingschools}
    <footer id="not-found-your-ds">
        <p>Vous ne trouvez pas votre entreprise ? Inscrivez la ! <a href="/adding-driving-school">ICI</a></p>
    </footer>
</div>