<%inherit file="template.html"/>
<div class="menu">
    <ul>
        <li class="pageslinks"><a href="/driving-schools">Auto-Écoles Inscrites</a></li>
        <li class="pageslinks"><a href="/adding-driving-school">Ajouter Votre Auto-École</a></li>
        <li class="pageslinks"><a href="/login">S'identifier</a></li>
        ${specific_links}
    </ul>
</div>
<div class="content-field">
    <h3>Qui Suis-Je ?</h3>
    <p>Je suis un étudiant</p>
    <h3>Pourquoi ?</h3>
    <p>Surtout parce-que les applications déjà créées ne sont jamais ergonomiques.</p>
    <h3>Quelques Statistiques</h3>
    <p></p>
    <h3>Me Contacter</h3>
    <p>Pour me signaler un bug, proposer une nouvelle fonctionnalité ou me dire autre chose, vous pouvez me contacter sur ce discord : <a href="https://discord.com">_gator3000</a></p>
</div>