<%inherit file="template.html"/>
<div class="menu">
    <a href="/driving-schools">Auto-Écoles Inscrites</a>
</div>
<div class="content-field">
    <h3>Qui Suis-Je ?</h3>
    <p>Je suis un étudiant</p>
    <h3>Pourquoi ?</h3>
    <p>Surtout parce-que les applications déjà créées ne sont jamais ergonomiques.</p>
    <h3>Quelques Statistiques</h3>
    <p></p>
    <h3>Me Contacter</h3>
    <p>Pour me signaler un bug, proposer une nouvelle fonctionnalitée ou me dire autre chose, vous pouvez me contacter à cette adresse e-mail : aelian.brd@proton.me</p>
</div>