
<!DOCTYPE html>
<html lang="fr" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="static/styles/style.css">
    <link rel="shortcut icon" href="static/assets/favicon.png" type="png">
    <script src="static/scripts/script.js" charset="utf-8"></script>
    <title>${myPageName} | ACCompagné</title>
  </head>
  <body>
    <div id="container">
      <div class="banner">
        <a id="image-banner-link" href="/"><img id="image-banner" src="static/assets/header.png" alt="Logo of 'ACCompagné'"></a>
        <h1 id="title">ACCompagné</h1>
        <div id="account-div">
          <h4>${account.name}</h4>
          <p class="hey">${account.get_email()}</p>
          <p class="hey">${account.type}</p>
        </div>
      </div>
      ${self.body()}
    </div>
  </body>
</html>